.homeImg {
  /* Full height */
  max-width: 70%;
  height:auto;
  display:block;
  margin: auto;
  padding-top: 3vh;
  
  
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

#bg2 {
  /* The image used */
  background-image: url('../../utils/images/HomeBG1.jpg');

  /* Full height */
  height: 50vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#homeImg1 {
  /* Full height */
  max-width: 70%;
  height:auto;
  display:block;
  margin: auto;
  padding-top: 3vh;
  
  
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}


