#bg {
       /* The image used */
       background-image: url('../../utils/images/HomeBG2.jpg');
  
       /* Full height */
     height: 100vh;
     
       /* Center and scale the image nicely */
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
}

.Logo1 {

    /* Full height */
    max-width: 80%;
    height:auto;
    display:block;
    margin: auto;
    padding-top: 7vh;
    /* opacity: 0.5; */
    
     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}

.Logo1:hover {
    opacity: 0.5;
}

#landImg1:hover {
    opacity: 0.5;
}

#landImg1 {
      /* Full height */
      max-width: 70%;
      height:auto;
      display:block;
      margin: auto;
      padding-top: 3vh;
      
      
       /* Center and scale the image nicely */
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
}

